.item a {
  color: black;
}

a.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a.active::before {
  content: ">";
  font-size: 20px;
  margin-right: 10px;
}

.header {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.content {
  width: 90%;
  font-size: 1rem;
}

.trim {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
