/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

body {
  padding: 2rem;
  background-color: rgb(52, 47, 47);
  color: white;
  letter-spacing: 0.25rem;
  font-size: 1rem;
  font-family: fantasy, non-serif;
}

