/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

body {
  padding: 2rem;
  background-color: lightcoral;
  color: white;
  letter-spacing: 0.25rem;
  font-size: 1.75rem;
  font-weight: 900;
  font-family: fantasy, non-serif;
}

